.all-programs {
  text-align: left;
  border-collapse: collapse;
  
  th, td {
    padding-right: 15px;
  }
  tr:first-child {
    border-bottom: 1px solid #e1e1d8;
    font-size: 11px;

    th:first-child {
      font-size: 15px;
    }

    th {
      font-weight: 400;
      color: #92927c;
      padding-bottom: 10px;
      vertical-align: baseline;
    }
  }
  
  tr:nth-child(1n+2) {
    td, th {
      padding-top: 15px;
      font-size: 14px;
      font-weight: 700;
      color: #4d4d42;
      vertical-align: top;

      span {
        font-weight: 400;
        font-size: 12px;
        color: #8a8a7a;
        cursor: pointer;

        &:hover {
          color: lighten(#8a8a7a, 5%)
        }
      }
    }
  }
}