.card {
  flex: 0 0 245px;
  width: 100%;
  max-width: 245px;
  padding: 20px 20px 8px;
  margin: 10.5px 10.5px;

  background: #fff;
  border-radius: .2rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  
  &__top {
    display: flex;
    justify-content: space-between;

    &__name {
      margin: 2px 10px 2px 0;
      font-size: 18px;
      color: #4d4d42;
    }

    &__edit {
      flex: 1 0 21px;
      max-width: 21px;
      width: 21px;
      height: 19px;
      border-radius: .2rem;
      border: 1px solid #f4f4f2;

      background: #fcfcfa url(/assets/pencil_icons.png) no-repeat top left;
      background-size: 17px 32px;
      cursor: pointer;
      background-position: 0 -16px;

      &:hover {
        background-position: 0 0;
      }
    }
  }

  &__graph-sales {
    font-size: 12px;
    color: #bebeb5;
    margin: 12px 0 0;
  }

  &__current-sales {
    margin: 0 -20px 8px;
    background: #fbfbf6;
    border-top: 1px solid #f5f5eb;
    border-bottom: 1px solid #f1f1f0;
    padding: 10px 20px 5px;

    &__table {
      width: 100%;
      text-align: center;
      border-collapse: collapse;

      th {
        font-size: 11px;
        font-weight: 400;
        color: #c3c3b9;

        &:first-child {
          text-align: left;
        }
      }

      td {
        font-size: 13px;
        color: #63635a;
      }
    }
  }
  &__bottom-sales {

    &__table-toggle {
      font-size: 12px;
      cursor: pointer;
      margin: 0;
      color: #c1c1b7;

      &:hover {
        color: lighten(#c1c1b7, 5%);
      }
    } 

    &__table-wrapper {
      overflow: hidden;
      transition: height .25s ease-out;
    }

    &__table {
      font-size: 11px;
      text-align: left;
      border-collapse: collapse;
      background: url(/assets/spark_lines.png) repeat-y 100% 20px;
      background-size: 65px 140px;

      tr:not(:first-child) {
        border-bottom: 1px solid #f3f3f3;
      }

      & > tr:first-child {
        background: #fff;
        th {
          font-weight: 400;
          color: #c6c6ba;

          &:first-child {
            font-size: 13px;
          }

          &:last-child {
            text-align: center;
          }
        }
      }

      td[colspan="2"] {
        td:last-child {
          color: #c2bbb4;
        }
      }

      td, th {
        font-size: 11px;
      }

      td:first-child, th:first-child {
        width: 90px;
        max-width: 90px;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;       
        white-space: nowrap;
        font-size: 12px;
        color: #828272;
      }

      &__multi-graph {
        min-width: 65px;
        height: 100%;
      }
    }
  }

  .graph {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 6px 0;
    min-height: 104px;

    &__item {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      flex: 0 0 15px;
      align-items: center;
      &__bars {
        flex: 1;
        align-items: flex-end;
        width: 15px;
        white-space: nowrap;
        overflow: visible;
        display: flex;
        justify-content: space-between;
        &__bar {
          width: 7px;
          position: relative;
          min-height: 1px;

          &--prev {
            background: #ccbcdd;
          }
          &--current {
            background: #b6d8b9;
          }

          &:hover {
            &:after {
              content: attr(value);
              position: absolute;
              top: 0;
              padding: 3px;
              background: #fff;
              border: 1px solid #ddd;
              z-index: 10;
            }
          }
        }
      }
      &__month {
        flex: 0 0 20px;
        height: 20px;
        font-size: 12px;
        text-align: center;
        color: #a1a18d;
        padding: 3px 0 0;
      }
    }
  }
}