.header {
  background: #edf7f3;
  padding-top: 10px;
  margin-bottom: 10.5px;

  &__logo {
    display: block;
    position: relative;
    text-indent: -104%;
    white-space: nowrap;
    overflow: hidden;
    width: 197px;
    height: 51px;
    background: url(/assets/logo.png) no-repeat top left;
    background-size: contain;
    margin: 0 auto;
  }
}

.nav {
  position: relative;

  &__mmenu {
    cursor: pointer;
    position: absolute; 
    top: 28px;
    right: 7px;

    @media screen and (min-width: $desktop-break) { 
      display: none;
    }
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  max-width: 822px;
  overflow: visible;
  list-style: none;
  border: 1px solid #d4e2e6;
  border-bottom: none;
  border-radius: .2rem .2rem 0 0;
  height: 39px;
  position: relative;
  top: -1px;

  &__tab {
    flex: 1 1 auto;
    height: 39px;
    display: inline-block;
    text-align: center;
    background: linear-gradient(to bottom, #fff, #eff2f1);
    cursor: pointer;
    padding: 9px 15px 8px;
    position: relative;

    &:hover:not(&--active) {
      background: linear-gradient(to bottom, #eff2f1, #fff);
    }

    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      background: url(/assets/nav-border.png) no-repeat top left;
      background-size: auto 100%;
    }

    &:last-child:after,
    &--active:after {
      display: none;
    }

    &--active {
      position: relative;
      top: -3px;
      background: #fff;
      height: 43px;
      display: inline-block;

      border-left: 1px solid #adb7bb;
      border-top: 1px solid #b6c2c5;
      border-right: 1px solid #a6b2b6;
      border-radius: .2rem .2rem 0 0;
      cursor: default;

      a {
        position: relative;
        top: 2px;
      }
    }
  }
  
  &__tab:not(&__tab--active) {
    @media screen and (max-width: 822px) {
      display: none;
    }
  }
} 

.subnav {
  background: #fff;
  overflow-x: scroll;
  padding: 20px 0;
  white-space: nowrap;
  z-index: 10;
  border-top: 1px solid #cbcfd1;
  border-bottom: 1px solid #cdccc0;

  &__inner {
    @include containerStyles;
  }

  &__item {
    color: blue;

    display: inline-block;
    vertical-align: top;
    margin-right: 15px;

    &--active {
      color: red;
    }
  }
}