html {
  overflow-y: scroll;
}
* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: inherit;
  }
}

@import './variables-mixins.scss';
@import './fonts.scss';

@import './layout.scss';
@import './header.scss';
@import './card.scss';
@import './all-programs-table.scss';